<h2>Browse Task</h2>
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h3>Latest Features</h3>
    </div>
  </div>
  <!-- /.row -->
  <!-- Page Features -->
  <div class="row text-center">
    <div ng-repeat="jam in jams">
      <div class="col-md-3 col-sm-6 hero-feature">
        <div class="thumbnail">
          <img src="http://placehold.it/800x500" ng-src="{{jam.img}}">
          <div class="caption">
            <h3>{{jam.title}}</h3>
            <h6>{{jam.description}}</h6>
            <a ng-href="#/edit-jam/{{jam.$id}}" class="btn btn-primary">View Profile!</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

